<html>
  <head>
    <title>Vehicle Info</title>
    <style>
    .hidden {
      display: none;
    }
    ul {
      list-style: none;
      padding:0;
      margin: 0;
      width: 250px;
    }
    li {
      clear: both;
    }
    li button {
      -webkit-appearance: none;
      border: none;
      outline: none;
      color: red;
      float: right;
      cursor: pointer;
      font-size: 20px;
    }
    .lists-wrapper, .todos-wrapper {
      display: inline-block;
      vertical-align: top;
    }
    </style>
  </head>
  <body>
    <div class="lists-wrapper">
      <h3>Make LISTS</h3>
    </div> 
  </body>
</html>